extends ./layout/index

block contenido
    main.container.mt-5
        .row    
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie tellus vel mauris posuere gravida ut ac ligula. Morbi ornare placerat orci et imperdiet. Integer vehicula nisl eget nunc lobortis pulvinar. Praesent dignissim sit amet justo quis pharetra. Praesent maximus, orci ut ornare sagittis, dui felis imperdiet libero, ac sodales mi velit id libero. Donec justo augue, congue vitae ante eu, gravida lobortis neque. Quisque rhoncus turpis mauris, ac venenatis nibh bibendum sed. 

                p Suspendisse turpis ante, mollis nec hendrerit vulputate, rutrum et lectus. Sed eu sem orci. Morbi dignissim ante dolor, vel finibus est rutrum fermentum. Morbi id bibendum tortor. Suspendisse a faucibus tortor, vel commodo felis. Maecenas scelerisque eu arcu id iaculis. Nulla erat est, finibus quis nunc id, tincidunt imperdiet eros. Nam neque ipsum, accumsan vitae dui sed, ultrices dictum erat. 

                p Proin porttitor gravida eros non feugiat. Proin pharetra purus ut ligula sodales varius vel vitae justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Proin porttitor gravida eros non feugiat. Proin pharetra purus ut ligula sodales varius vel vitae justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Proin porttitor gravida eros non feugiat. Proin pharetra purus ut ligula sodales varius vel vitae justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p Proin porttitor gravida eros non feugiat. Proin pharetra purus ut ligula sodales varius vel vitae justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.